<div class="post">
    <div class="post-top">
        daspdadakfasoao
    </div>
    <div class="post-mid">
        <div class="mid-info">
            <img src="/images/user.jpg" alt="">
            <span>Answered By: Username</span>
        </div>
        <div class="mid-text">
            This is the answer. sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad 
        sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad sadsad
        </div> 
    </div>
    <div class="post-bottom">
        <div>
            <a href=""><button class="post-button"><i class="far fa-thumbs-up"></i> 100</button></a>
            <a href=""><button class="post-button"><i class="far fa-thumbs-up fa-rotate-180"></i></button></a>
            <a href=""><button class="post-button"><i class="far fa-comment"></i> 43</button></a>
        </div>
        <div>
            <a href=""><button class="post-button"><i class="fas fa-ellipsis-h fa-lg"></i></button></a>
        </div>
    </div>
</div>
<div class="post">
    <div class="post-top">
        What is something you will never understand?
        Checking the size of the flex by overflowing the content
    </div>
    <div class="post-mid">
        <div class="mid-info">
            <img src="/images/user.jpg" alt="">
            <span>Answered By: Username</span>
        </div>
        <div class="mid-text">
            When I completed my B.Tech in 2017, I had multiple high paying job offers ranging from Rs. 42 lakhs per year in India to $150,000 in the Bay Area.
        </div> 
    </div>
    <div class="post-bottom">
        <div>
            <a href=""><button class="post-button"><i class="far fa-thumbs-up"></i> 100</button></a>
            <a href=""><button class="post-button"><i class="far fa-thumbs-up fa-rotate-180"></i></button></a>
            <a href=""><button class="post-button"><i class="far fa-comment"></i> 43</button></a>
        </div>
        <div>
            <a href=""><button class="post-button"><i class="fas fa-ellipsis-h fa-lg"></i></button></a>
        </div>
    </div>
</div>
<div class="post">
    <div class="post-top">
        What is something you will never understand?
        Checking the size of the flex by overflowing the content
    </div>
    <div class="post-mid no-ans">
        <div class="mid-text">
            No answers yet.
        </div>
    </div>
    <div class="post-bottom">
        <div>
            <a href=""><button class="post-button"><i class="fa fa-edit"></i> Answer</button></a>
            <a href=""><button class="post-button"><i class="fas fa-users"></i> Follow</button></a>
        </div>
    </div>
</div>