<link rel="stylesheet" href="/css/home.css">
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

<div class="home">
    <section class="home-left">
    
    </section>
    <section class="home-main" id="home-post">   
        <% if(locals.user){ %>
            <div class="post">
                <div class="post-default">
                    <div class="post-default-info">
                        <img src="<%= user.avatar %>" alt=""><span><%= user.name %></span>
                    </div>
                    <form action="" id="new-post-form" method="POST" style="margin: 0px;">
                        <textarea type="text" class="post-default-text" name="content" placeholder="What is your question?"></textarea>
                        <input type="submit" class="post-default-button" value="POST">
                    </form>
                </div>
            </div>
        <% } %>
        <div id="list-post">
            <%- include('_post') -%>
        </div>
    </section>
    <section class="home-right">
        
    </section>
</div>

<script src="/js/home-post.js"></script>
