<html>
    <!-- font-family: 'Nunito', sans-serif; -->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%- style %>
    <body>
        
        <%- include('_header') %>

        <%- body %>
    
        <%- script %>
        <script src="/js/layout-drop.js"></script>
    </body>
</html>

