<h1>SignUp</h1>
<div>
    <form action="/user/create" method="POST">
        Name: &nbsp;
        <input type="text" name="name" placeholder="Enter your Name" required><br>
        Email: &nbsp;
        <input type="email" name="email" placeholder="Enter your email" required><br>
        Password: &nbsp;
        <input type="password" name="password" placeholder="Enter your password" required><br>
        Confirm Password: &nbsp;
        <input type="password" name="confirm_password" placeholder="Re-enter your password" required><br>
        <input type="submit" value="Signup">
    </form>
</div>