body {
  margin: 0px;
  background-color: #f4f4f4;
}

body .layout-header {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  box-shadow: 0px 5px 20px #1687ff;
  background-color: #1687ff;
  height: 50px;
  margin: 0px;
}

body .layout-header .layout-header-details {
  height: 50px;
  margin-right: 7px;
}

body .layout-header .layout-header-details .layout-header-user img {
  margin-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}

body .layout-header .layout-header-details .layout-header-user .layout-header-user-a {
  position: relative;
  top: 15px;
  right: 5px;
}

body .layout-header .layout-header-details .layout-header-user .layout-header-user-drop {
  right: 7px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

body .layout-header .layout-header-details .layout-header-user .layout-header-user-drop a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body .layout-header .layout-header-details .layout-header-user .layout-header-user-drop a:hover {
  background-color: #ddd;
}

body .layout-header .layout-header-details .layout-header-nouser {
  padding: 7px 0px 7px 0px;
}

body .layout-header .layout-header-details .layout-header-nouser button {
  transition: 0.3s;
  font-family: 'Nunito', sans-serif;
  height: 34px;
  color: white;
  background-color: #1687ff;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

body .layout-header .layout-header-details .layout-header-nouser button:hover {
  background-color: white;
  color: #1687ff;
}

.show {
  display: block !important;
}
